{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Twitter Sentimental Analysis | Home</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static '/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <!-- Main form - Action area -->
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="mainHeading center orange-text">Twitter Sentimental Analysis</h1>
      <div class="input-field col s6">
         <form method="POST" action="/search/"> 
            {% csrf_token %}
            {{ form.as_p }}
            <div class="row center need-space" >
              <input type='submit' value='Analyse' id="download-button" class="btn-large waves-effect waves-light orange tooltipped padbutton" data-position="bottom" data-delay="50" data-tooltip="Click to view Analysed tweets">
            </div>
        </form>
         
        </div>
      
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">search</i></h2>
            <h5 class="center">Search</h5>

            <p class="light">Search for a keyword that you would like to Analyse</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">pie_chart</i></h2>
            <h5 class="center">Analyse</h5>

            <p class="light">Tweets will be returned as positive, negative or neutral. Also the polarity produced will be returned</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">trending_up</i></h2>
            <h5 class="center">Trendings</h5>
            <p class="light">Also here you  get the Top 10 Trending topics on Twitter right now </p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>
  <div class="row container col s12 m12">
  <strong><h4 class="mainHeading center orange-text">Top 10 Trending HashTags</h4></strong>''

    {% for dict in trending %}

     <div class="center">
        <div class="card-content white-text">
        <a href= {{ dict.url }}>{{ dict.name }}</a>
        <!-- <p>{{ dict.tweet}}</p>
        <p><i>The polarity of this tweet is <b>{{ dict.polarity }}</b></i></p> -->
        </div>
    </div>

    {% endfor %}

    </div> 





  <footer class="page-footer orange">
    <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">About me</h5>
                <p class="grey-text text-lighten-4">about analysis</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Connect With me</h5>
                <div>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://www.facebook.com" target="_blank">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://github.com" target="_blank">GitHub</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://in.linkedin.com/in/" target="_blank">LinkedIn</a></li>
                  <li><a class="grey-text text-lighten-3" href="" target="_blank">Email</a></li>
                </ul>
              </div>
            </div>
          </div>
      </div>
    <div class="footer-copyright centre">
      <div class="container">
        <h5>Made by</h5>
        <p>name</p>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>

  </body>
</html>
